body{
    padding: 0;
    margin: 0;
}

h2{

    text-align: center;
    margin-bottom: 32px;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
}

main{

    margin-bottom: 100px;
    margin: 80px;

}

#botoesHeader a{
    margin-left: auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(0, 0, 0);
    background-color: aquamarine;
    border-radius: 1vh;
    padding: 2vh 2vw;
    margin-right: 2vw;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 120px; 
    height: 40px;
    font-size: 1vw; 
    line-height: 3vh; 
    font-weight: bold;


}

#botoesHeader a:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s; 
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #676464;
    color: #ffffff;
    padding: 30px 0;
}



.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.social-links a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 16px;
}



.footer-bottom {
    background-color: #393838;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(33.33% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
}

.info {
    padding: 10px;
}

.info h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

.info p {
    margin: 5px 0;
}